body {
  margin: 0;
  padding: 0;
  background-color: #f8f9f9;
}
.title {
  width: 100%;
  background: linear-gradient(90deg, #004aad, #e385ec);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  text-align: center;
  height: fit-content;
}
#intro h1 {
  font-size: 7rem;
  margin-bottom: 30px;
  margin-top: 0;
  color: #fcecdd;
  font-family: "Alice", serif;
  font-weight: 800;
}
#intro p {
  margin: 0;
  font-size: 4rem;
  color: #fcecdd;
  font-family: "Moon Dance", cursive;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1200px;
}

#main h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #004aad;
  margin-bottom: 0;
}
#main h2 {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: #004aad;
  margin-bottom: 0;
}
#main h3 {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: black;
  margin-bottom: 0;
}

#main p,
li {
  text-align: justify;
}
li {
  padding-left: 1rem;
}
.container {
  margin-top: 3rem;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  width: fit-content;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  min-width: 250px;
}
.image {
  text-align: center;
  margin-left: 50px;
}

.foot {
  width: 100%;
  height: 150px;
  background: linear-gradient(90deg, #004aad, #e385ec);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 2.5rem;
}
a {
  font-family: sans-serif;
}
#footer a {
  color: #fcecdd;
  text-decoration: none;
}
#footer a:hover {
  color: rgb(58, 9, 144);
}
#footer p {
  color: white;
}

@media (max-width: 768px) {
  .title {
    height: 50vh;
    background: linear-gradient(90deg, #004aad, #e385ec);
  }
  #intro h1 {
    font-size: 3rem;
  }
  #intro p {
    font-size: 2rem;
  }
  #main {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  #main h1 {
    font-size: 1.75rem;
  }
  #main h2 {
    font-size: 1.2rem;
  }

  #main h3 {
    font-size: 1rem;
  }
  .container {
    margin-top: 1.5rem;
    width: 95% !important;
    justify-content: center;
    padding: 10px;
    justify-self: normal !important;
    flex-wrap: wrap;
  }

  .foot {
    height: 80px;
    font-size: 0.9rem;
  }

  .image,
  img {
    width: 150px;
  }
}

@media (max-width: 430px) {
.title {
    height: 40vh;
  }
  
  #intro h1 {
    font-size: 3rem;
  }

  #intro p {
    font-size: 1.5rem;
  }

  .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .image,
  img {
    width: 120px;
    margin: 0;
  }

  #main p,
  li {
    font-size: 0.8rem;
  }

  .foot {
    height: 80px;
    font-size: 0.8rem;
  }
}
